body{
	font-family: 'Helvetica Neue';
	font-size: 16px;
	margin: 0;
}

.globalAlign{
	width: 1080px;
	margin: auto;
}

header{
	height: 70px;
	width: 100%;
	background: #141414;
}

.headerMenu{
	list-style: none;
	padding: 0;
	margin: 0;
	font-family: 'brandon_grotesquemedium';
	text-transform: uppercase;
	font-style: 18px;
}

.headerMenu li{
	float: left;
	margin-left: 7px;
	margin-right: 7px;
}

.headerMenu a{
	display: block;
	height: 70px;
	line-height: 70px;
	padding-left: 35px;
	padding-right: 35px;
	color: #383838;
}

.headerMenu .activeHeaderLink a{
	height: 66px;
	border-bottom: 4px solid #40b160;
	color: #f7f7f7;
}

.headerMenu a:hover{
	background: #2D2D2D;
	color: #ADADAD;
}

.headerProfile{
	float: right;
	height: 70px;
}

.headerProfileName{
	color: #898989;
	line-height: 70px;
	text-transform: uppercase;
	font-family: 'brandon_grotesquelight';
}

.headerProfilePic{
	float: right;
	height: 40px;
	width: 40px;
	border-radius: 20px;
	margin: 15px;
	background-image: url('profile.png');
	background-size: cover;
}

.searchBar{
	width: 320px;
	height: 35px;
	position: absolute;
	border-radius: 4px;
	overflow: hidden;
	margin: 20px;
	left: 380px;
	border: 1px solid rgba(0, 0, 0, 0.05);
}

.searchBarInput{
	outline: none;
	border: none;
	width: 260px;
	margin: 0;
	height: 35px;
	line-height: 35px;
	padding-left: 14px;
	box-sizing: border-box;
	font-size: 18px;
	font-family: "Helvetica Neue";
	font-weight: 100;
	letter-spacing: 1px;
	color: #939393;
	float: left;
}

.searchBarSubmit{
	margin: 0;
	height: 35px;
	float: left;
	padding: 0;
	width: 60px;
	border: 0 none;
	cursor: pointer;

	background-color: rgb(64,178,96);
	background-color: -moz-linear-gradient(top,  rgba(64,178,96,1) 0%, rgba(60,151,86,1) 100%);
	background-color: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(64,178,96,1)), color-stop(100%,rgba(60,151,86,1)));
	background-color: -webkit-linear-gradient(top,  rgba(64,178,96,1) 0%,rgba(60,151,86,1) 100%);
	background-color: -o-linear-gradient(top,  rgba(64,178,96,1) 0%,rgba(60,151,86,1) 100%);
	background-color: -ms-linear-gradient(top,  rgba(64,178,96,1) 0%,rgba(60,151,86,1) 100%);
	background-color: linear-gradient(to bottom,  rgba(64,178,96,1) 0%,rgba(60,151,86,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40b260', endColorstr='#3c9756',GradientType=0 );

	background-image: url('search-icon.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 20px;

}

.displayCover{
	width: 100%;
	height: 355px;
	background-image: url('cover-shadow.png'), url('leclub.png');
	position: relative;
}

.displayLeftCol{
	width: 740px;
	float: left;
	font-family: "Helvetica Neue";
	font-weight: 200;
	margin-bottom: 200px;
}

.displayName{
	text-transform: uppercase;
	color: #40b160;
	font-family: 'brandon_grotesquebold';
	font-size: 52px;
	margin: 0;
	margin-top: 40px;
	line-height: 46px;
}

.displaySubtitle{
	color:#646363;
	font-size: 22px;
}

.displayDescription{
	color: #1d1d1d;
	font-size: 18px;
}

.hashtagsList{
	margin-left: -5px;
}

.hashtags{
	font-weight: 400;
	color: #e7116c;
	background: #fde9f1;
	border-radius: 4px;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 6px;
	margin-right: 6px;
	margin-top: 5px;
	display: inline-block;
	margin-bottom: 5px;
}

.displayRightCol{
	width: 290px;
	float: right;
}

.displayBloc{
	margin-top: 50px;
	font-family: 'brandon_grotesque_regularRg';
}

.displayBlocTitle{
	font-size: 26px;
	color: #606060;
	text-transform: uppercase;
	width: 100%;
	margin: 0;
}

.displayScoreGrade{
	color: #e5b862;
	text-align: center;
	width: 100%;
	display: inline-block;
}

.displayScoreGradeNominateur{
	font-size: 102px;
}

.displayScoreGradeDenominateur{
	font-size: 22px;
}

.displayScoreTotal{
	color: #bebebe;
	font-family: "Helvetica Neue";
	font-weight: 100;
	font-size: 26px;
	margin-top: -37px;
	display: block;
	width: 100%;
	text-align: center;
}

.displayPictureFrame{
	overflow: hidden;
	border-radius: 4px;
	height: 90px;
	width: 90px;
	display: inline-block;
}

.displayPrice{
	height: 210px;
	background: #e0e0e0;
	color: #40b160;
	font-family: 'brandon_grotesquebold';
	padding-top: 50px;
	text-align: center;
}

.displayPriceBig{
	font-size: 100px;
}

.displayPriceCurrency{
	font-size: 52px;
	vertical-align: top;
	padding-top: 18px;
	display: inline-block;
}

.callToBook{
	display: block;
	height: 63px;
	line-height: 63px;
	font-size: 30px;
	width: 100%;
	color: #f7f7f7;
	background: #43a760;
	text-align: center;
}

.callToBook:hover{
	background: #4AB56A;
}

a{
	text-decoration: none;
	color: inherit;
}